.add-form {
  background-color: rgb(87, 162, 86);
  border-radius: 13px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
  align-items: center;
  display: flex;
  gap: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-label {
  font-size: 16px;
font-weight: 700;
}

.add-input {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}

.add-button {
  background-color: rgba(201, 55, 42, 0.823);
  border: none;
  border-radius: 10px;
  color: rgb(246, 246, 246);
  font-weight: 700;
  height: 40px;
  width: 140px;
}